services:
  discovery-service:
    build: ./discovery-service
    container_name: discovery-service
    ports:
      - "8761:8761"
    expose:
      - 8761
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      retries: 4
  config-service:
    build: ./config-service
    container_name: config-service
    ports:
      - "9999:9999"
    expose:
      - 9999
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-service:8761/eureka
    depends_on:
      discovery-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9999/actuator/health" ]
      interval: 10s
      retries: 4
  customer-service:
    build: ./customer-service
    container_name: customer-service
    ports:
      - "8086:8086"
    expose:
      - 8086
    depends_on:
      config-service:
        condition: service_healthy
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-service:8761/eureka
      - CONFIG_SERVICE_URL=http://config-service:9999
    healthcheck:
      test: ["CMD","curl","-f","localhost:8086/actuator/health"]
  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    ports:
      - "8087:8087"
    expose:
      - 8087
    depends_on:
      config-service:
        condition: service_healthy
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-service:8761/eureka
      - CONFIG_SERVICE_URL=http://config-service:9999
    healthcheck:
      test: [ "CMD","curl","-f","localhost:8087/actuator/health" ]
  billing-service:
    build: ./billing-service
    container_name: billing-service
    ports:
      - "8088:8088"
    expose:
      - 8088
    depends_on:
      config-service:
        condition: service_healthy
      customer-service:
        condition: service_healthy
      inventory-service:
        condition: service_healthy
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-service:8761/eureka
      - CONFIG_SERVICE_URL=http://config-service:9999
  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8888:8888"
    expose:
      - 8888
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-service:8761/eureka
      - CONFIG_SERVICE_URL=http://config-service:9999
    depends_on:
      config-service:
        condition: service_healthy
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "4200:80"
    expose:
      - 80



